@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: linear-gradient(
    92.23deg,
    #ff0080 21.43%,
    #8000ff 50.63%,
    #00ffff 100%,
    #00ff80 117.04%
  );
  box-shadow: 0px 4px 100px rgba(255, 0, 128, 0.8);
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #00ff80 21.43%,
    #00ffff 50.63%,
    #8000ff 100%,
    #ff0080 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92deg,
    #00ff80 21.43%,
    #00ffff 50.63%,
    #8000ff 100%,
    #ff0080 117.04%
  );
}

.active {
  color: #000;
  padding: 1rem;
  border-radius: 100%;
  box-shadow: 0 0 5px #00ff80, 0 0 10px #8000ff, 0 0 15px #ff0080;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
    background: radial-gradient(circle, #0a0a0a, #050505, #000);
    color: #e6e6e6;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
    color: #ff0080;
    /* text-shadow: 0 0 8px #ff0080, 0 0 16px #8000ff; */
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
    
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
    text-shadow: 0 0 4px #fff, 0 0 8px #ff0080;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
    color: #00ffff;
    text-shadow: 0 0 4px #00ffff, 0 0 8px #00ff80;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#ff0080] to-[#00ffff] font-bold font-primary;
    transition: all 0.3s ease-in-out;
    &:hover {
      @apply from-[#00ffff] to-[#ff0080];
    }
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
